*{
    box-sizing: border-box;
}
body{
    font-family: "Kumbh Sans";
    background: linear-gradient(hsl(273, 75%, 66%),hsl(240, 73%, 65%));
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
    font-size: 12px;
    position: relative;
}
main{
    display: flex;
    background-color: #fff;
    border-radius: 5%;
    width: 960px;
    height: 580px;
    background-image: url("./images/bg-pattern-desktop.svg");
    background-repeat: no-repeat;
    background-position: 8900% 85%;
}
.main-image{
   width: 70%;
    
}
.bg-img{
    background-image: url("./images/illustration-woman-online-desktop.svg");
    height: 100%;
    background-repeat: no-repeat;
    background-position: -1000% 50%;
}
.square{
    position:absolute;
    top: 44%;
    left: 10%;
  
}
.question_container{   
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: center;
   flex-basis: 70%;
}
.question{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid hsl(240, 5%, 91%);
    width: 300px; 
    
    margin-bottom: 15px;
    cursor: pointer;
   
}
.question img {
    align-self: center;
    transition: 0.2s linear;
}
h1{
    margin-bottom:20px;
    font-weight: 700;
    color: hsl(240, 8%, 17%);
    font-size: 30px;
}
h3{
    font-weight: 400;
}
.answer{
    max-height: 0;
    overflow: hidden;
    transition: 0.5s;
    width: 300px;
}
.accordion.active .answer{
    max-height: 150px;
    width: 300px;
}
.accordion.active img{
    transform: rotate(180deg);
    transition: 0.2s linear
}
.accordion{
    color: hsl(240, 4%, 44%);
    
}
.accordion.active h3{
    font-weight: 700;
    color: hsl(238, 29%, 16%);
}
